<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0" metadata-complete="true" >
	<display-name>gaston-bigdata</display-name>
	<session-config>
    	<session-timeout>180</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
            	classpath:application-context-web.xml
            </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:application-context.xml
        </param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- <welcome-file-list> <welcome-file>index.html</welcome-file> </welcome-file-list> -->
	<distributable />
	<error-page>
	  <error-code>404</error-code>
	  <location>/error/404</location>
	</error-page>
	<error-page>
	  <error-code>401</error-code>
	  <location>/error/401</location>
	</error-page>
	<error-page>
	  <error-code>403</error-code>
	  <location>/error/403</location>
	</error-page>
	<error-page>
	  <error-code>500</error-code>
	  <location>/error/500</location>
	</error-page>
</web-app>
